<%- include('../partials/header') %>

    <h2>Enter a New Workout</h2>
    <form action="/flights" method="POST">
        <label>name:
            <input type="text" name="name">
        </label><br>
        <label>type:
            <input type="text" name="type">
        </label><br>
        <label>exercise:
            <input type="text" name="exercise">
        </label><br>
        <label>time:
            <input type="number" name="time">
        </label><br>
        <input type="submit" value="Add Workout">
    </form>
    
    <%- include('../partials/footer') %>