<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
     <style>
      .background {
        background-image: url("images/gym.jpeg");
        width: 100%;
        max-width: 1820px;
        height: 740px;
      }
      </style>
      
      <div class="background">
      </div>

<%- include('./partials/footer') %>