<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<p>Please ensure that the Exercise is not already in the list
  <select>
    <% exercises.forEach(function(p) { %>
      <option><%= p.name %></option>
    <% }) %>
  </select>
</p>

<form id="add-exercise-form" action="/exercises" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Exercise">
</form>

<%- include('../partials/footer') %>
