<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<section id="badge-container">
  <% exercises.forEach(function(p) { %>
    <option><%= p.name %></option>
  <% }) %>
</section>

<form id="add-exercise-form" action="/exercises" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Exercise">
</form>

<%- include('../partials/footer') %>
